# 1장 서울시 구별 CCTV 현황 분석

## 1 - 1 CCTV 현황과 인구 현황 데이터 구하기

서울시의 CCTV 현황은 구글 검색만으로도 쉽게 얻을 수 있다.
CSV 파일은 콤마로 구분된 텍스트 파일입니다. 우리나라에서는 잘통용되지 않지만 외국 자료를 검색하다 보면 자주 나타납니다. 텍스트 파일이기 때문에 메모장에서도 열립니다. 그런데 만약 CSV 파일에 한글이 UTF-8로 인코딩 되어있다면 엑셀에서 열었을 때 한글이 깨져 보일 수 있습니다. 그것은 MS 오피스 제품들이 UFT-8을 지원하지 않기 때문이며 파일에 문제가 있는 것은 아닙니다. <br>
(저는 ubuntu를 사용하고 있기때문에 github를 클론 따와서 사용하였습니다.) <br>
https://github.com/PinkWink/DataScience

## 1 - 2 파이썬에서 텍스트 파일과 엑셀 파일 읽기

파이썬에서는 이런 종류의 파일을 쉽게 읽을 수 있는 모듈이 있습니다. 바로 pandas라는 모듈입니다. <br>

In [3]:
import pandas as pd

파이썬에서 원하는 모듈을 불러오는 명령이 import입니다. 그뒤에 원하는 모듈명을 넣게 됩니다. 모듈명이 다음의 as는 as뒤에 붙는 pd라는 짧은 단어로 pandas를 대체하겠다는 뜻입니다. 즉, pandas의 read_csv라는 의미로 pandas.read_csv라고 하지 않고 pd.read_csv라고 쓰겠다는 의미 입니다. <br>
pandas에서 CSV 파일을 읽는 명령은 read_csv입니다. 그안에 한글을 사용하는 경우는 인코딩에 신경 써야 합니다. 우리가 받은 CCTV 데이터는 UTF-8로 인코딩되어 있어서 read_csv 명령을 쓸 때 incoding 옵션에 UTF-8이라고 저장해야 합니다. 이때 사용된 head() 명령은 pandas 데이터의 첫 5행만 보여달라는 것입니다.

In [4]:
CCTV_Seoul = pd.read_csv('./data/01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

pandas 데이터는 제일 첫 줄에 보이는 것이 해당하는 열(column)을 대표하는ㄴ 일종의 제목입니다. <br>
그래서 첫 줄은 특별히 column이라고 합니다. 데이터 뒤에 columns라고 하면 column의 이름들이 반환됩니다.

In [5]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [6]:
CCTV_Seoul.columns[0]

'기관명'

그런데 기관명이라고 되어 있으니 이를 '구별'이라는 이름으로 하겠습니다. 이렇게 이름을 바꾸는 명령은 rename이라고 합니다. 그리고 그 명령 안에 사용된 inplace=True는 실제 CCTV_Seoul이라는 변수의 내용을 갱신하라는 의미 입니다.

In [8]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

이제 엑셀 파일을 읽어야 합니다. 그명령은 read_excel입니다. 그냥 인코딩만 지정하고 읽었더니 약간 이상합니다. 그것은 원본 엑셀 파일이 첫 세줄이 열의 제목처럼 되어 있기 때문입니다.

In [18]:
pop_Seoul = pd.read_excel('./data/01. population_in_Seoul.xls',  encoding='utf-8')
pop_Seoul.head()

TypeError: read_excel() got an unexpected keyword argument 'encoding'

일단 엑셀을 읽는 rad_excel 명령 안에서 세 번째 줄부터 읽으라는 header=2라는 옵션을 걸고, B, D, G, J, N 열만 읽도록 parse_cols='B,D,G,J,N'이라는 옵션을 넣었습니다.

In [20]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls', 
                          header = 2,
                          usecols = 'B, D, G, J, N',
                          encoding='utf-8')
pop_Seoul.head()

TypeError: read_excel() got an unexpected keyword argument 'encoding'

출력된 모습도 간결하게 되었습니다. 그러나 컬럼의 이름에 문제가 있는 듯합니다. rename 명령을 사용해서 컬럼의 이름을 변경합니다.

In [21]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별', 
                          pop_Seoul.columns[1] : '인구수', 
                          pop_Seoul.columns[2] : '한국인', 
                          pop_Seoul.columns[3] : '외국인', 
                          pop_Seoul.columns[4] : '고령자'}, inplace=True)
pop_Seoul.head()

NameError: name 'pop_Seoul' is not defined

CCTV_Seoul이라는 변수에는 '구별 CCTV 현황'을, pop_Seoul이라는 변수에는 '구별 인구 현황'을 저장했습니다. pandas에서 몇 줄 입력하지 않았는데 우리는 두종류의 파일을 보기 좋게 읽게 되었습니다.

# 1 - 3 pandas 기초 익히기

pandas의 사용 빈도가 높아서 기초를 익히고 지나가자 그리고 본 절의 튜토리얼은 pandas의 튜토리얼이 다수 포함되어 있습니다.

In [22]:
import pandas as pd
import numpy as np

In [23]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

pandas의 데이터 유형 중 기초가 되는 것이 Series입니다. 대괄호로 만드는 파이썬의 list 데이터로 만들 수 있습니다. 중간에 NaN(Not A Number)도 넣었습니다.

In [24]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

또 pandas에는 날짜형의 데이터인 date_range가 있습니다. 기본 날짜를 지정하고 periods 옵션으로 6일간이라고 지정합니다.

In [27]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, 
                  columns=['A','B','C','D'])
df

                   A         B         C         D
2013-01-01  0.029147 -0.347297 -0.808200  1.960662
2013-01-02 -1.536493  0.805683  0.321746 -0.885591
2013-01-03 -0.972634  0.041225 -0.828253  0.552323
2013-01-04 -0.736241  1.325557 -1.204190 -1.026288
2013-01-05 -0.452674 -0.842260  0.778726  0.068549
2013-01-06 -0.963425 -0.078385  1.293364 -0.238492

이제 DataFrame 유형의 데이터를 만듭니다. 6행 4열의 random 변수를 만들고, 컬럼에는 columns=['A','B','C','D']로 지정하고, index 명령으로 만든 날짜형 데이터인 dates를 index=dates 옵션을 이용해서 저장했습니다.

In [28]:
df.head(3)

                   A         B         C         D
2013-01-01  0.029147 -0.347297 -0.808200  1.960662
2013-01-02 -1.536493  0.805683  0.321746 -0.885591
2013-01-03 -0.972634  0.041225 -0.828253  0.552323

head() 명령을 사용하면 기본적으로 첫 5행을 보여줍니다. 괄호 안에 숫자를 널어두면 그 숫자만큼의 행을 볼 수 있습니다.

In [29]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [30]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

그리고 index,columns 명령을 이용하면 pandas의 DataFrame의 컬럼과 인덱스를 확안할 수 있습니다.

In [31]:
df.values

array([[ 0.02914707, -0.34729736, -0.80820006,  1.96066223],
       [-1.53649292,  0.80568323,  0.3217456 , -0.88559109],
       [-0.9726344 ,  0.04122459, -0.82825271,  0.55232319],
       [-0.73624051,  1.32555741, -1.20418984, -1.02628839],
       [-0.45267375, -0.84226049,  0.77872633,  0.0685493 ],
       [-0.96342507, -0.0783852 ,  1.29336361, -0.23849242]])

그리고 그 안에 들어가는 내용은 values 명령으로 확인할 수 있습니다. 또, info() 명령을 사용하면 DataFrame의 개요를 알 수 있습니다.

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

describe 명령어는 통계적 개요를 확인 할 수 있습니다. 개수와 평균 뿐만 안니라 min,max와 각 1/4 지점,표준편차까지 한번에 알 수 있습니다.

In [33]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.772053  0.150754 -0.074468  0.071860
std    0.530364  0.788382  1.013777  1.097032
min   -1.536493 -0.842260 -1.204190 -1.026288
25%   -0.970332 -0.280069 -0.823240 -0.723816
50%   -0.849833 -0.018580 -0.243227 -0.084972
75%   -0.523565  0.614569  0.664481  0.431380
max    0.029147  1.325557  1.293364  1.960662

이때 values가 숫자가 아니라 문자라고 하더라도 그에 맞는 개요가 나타납니다.

In [34]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-04 -0.736241  1.325557 -1.204190 -1.026288
2013-01-02 -1.536493  0.805683  0.321746 -0.885591
2013-01-03 -0.972634  0.041225 -0.828253  0.552323
2013-01-06 -0.963425 -0.078385  1.293364 -0.238492
2013-01-01  0.029147 -0.347297 -0.808200  1.960662
2013-01-05 -0.452674 -0.842260  0.778726  0.068549

sort_values 명령은 by로 지정된 칼럼을 기준으로 정렬합니다. ascending 옵션을 사용하면 내림차순이나 오름차순으로 정렬시킬 수 있습니다.

In [35]:
df

                   A         B         C         D
2013-01-01  0.029147 -0.347297 -0.808200  1.960662
2013-01-02 -1.536493  0.805683  0.321746 -0.885591
2013-01-03 -0.972634  0.041225 -0.828253  0.552323
2013-01-04 -0.736241  1.325557 -1.204190 -1.026288
2013-01-05 -0.452674 -0.842260  0.778726  0.068549
2013-01-06 -0.963425 -0.078385  1.293364 -0.238492

그냥 변수명을 적고 실행하면 그 내용이 나타납니다.

In [36]:
df['A']

2013-01-01    0.029147
2013-01-02   -1.536493
2013-01-03   -0.972634
2013-01-04   -0.736241
2013-01-05   -0.452674
2013-01-06   -0.963425
Freq: D, Name: A, dtype: float64

DataFrame으로 선언된 변수의 경우 변수명 뒤에['A']와 같이 붙여주면 헤당 컬럼만 Series로 보여줍니다. 물론 head()라는 명령이 있지만 중간부터 보고 싶다면 행의 범위만 지정해서 df[0:3]이라고 하면 됩니다.

In [37]:
df[0:3]

                   A         B         C         D
2013-01-01  0.029147 -0.347297 -0.808200  1.960662
2013-01-02 -1.536493  0.805683  0.321746 -0.885591
2013-01-03 -0.972634  0.041225 -0.828253  0.552323

만약 2013.01.02부터 2013.01.04까지의 행을 보고 싶다면

In [38]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -1.536493  0.805683  0.321746 -0.885591
2013-01-03 -0.972634  0.041225 -0.828253  0.552323
2013-01-04 -0.736241  1.325557 -1.204190 -1.026288

dates 변수를 이용해서 특정 날짜의 데이터만 보고 싶으면 df.loc 명령을 사용하면 됩니다.

In [39]:
df.loc[dates[0]]

A    0.029147
B   -0.347297
C   -0.808200
D    1.960662
Name: 2013-01-01 00:00:00, dtype: float64

A,B열의 모든 행을 보고 싶다면

In [40]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.029147 -0.347297
2013-01-02 -1.536493  0.805683
2013-01-03 -0.972634  0.041225
2013-01-04 -0.736241  1.325557
2013-01-05 -0.452674 -0.842260
2013-01-06 -0.963425 -0.078385

행과 열의 범위를 모두 지정할 수도 있습니다.

In [41]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -1.536493  0.805683
2013-01-03 -0.972634  0.041225
2013-01-04 -0.736241  1.325557

2013년 1월 2일부터 2013년 1월 4일까지의 데이터중 A와 B 컬럼의 데이터만 선택하는것입니다.

In [42]:
df.loc['20130102',['A','B']]

A   -1.536493
B    0.805683
Name: 2013-01-02 00:00:00, dtype: float64

또, 2013년 1월 2일의 A,B 컬럼의 내용을 확인하는 것입니다.

In [44]:
df.loc[dates[0],'A']

0.02914706618502418